[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Zorro/vendor/spdlog"]
	path = Zorro/vendor/spdlog
	url = https://github.com/gabime/spdlog
